		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p><strong>Bonjour et bienvenue sur le site des sports universitaires.</strong></p>
		        <p>Ce site vous permet de consulter les sports disponibles, de contacter les enseignants responsables, de vous inscrire à un sport ou encore de consulter les dernières actualités de votre sport (tournois, stages, ...).</p>
				<p>De nombreuses fonctions nécessitent de s'identifier (avec les identifiants de votre université).</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 log_in">
				<h3>Se connecter</h3>
				<hr>
				<form action="mes_sports_connect.html">
					<label for="login">*login : </label><input type="text" name="login" placeholder="login"><br/>
					<label for="passwd">*mot de passe : </label><input type="password" name="passwd" placeholder="mot de passe"><br/>
					<input type="submit" value="S'identifier" class="btn btn-success submit">
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<p>* les identifiants sont ceux qui vont ont été fournis en début d'année par votre université.</p>
			</div>
		</div>

