      
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
	  <h3>Mes sports</h3>
          <ul class="nav nav-sidebar">
          	<li><a href="">Athlétisme</a></li>
            <li><a href=""><strong>Badminton</strong></a></li>
          </ul>
        </div>

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">