          <h1 class="page-header">Badminton</h1>
	  <h2>Absences</h2>
	  <div class="aligned-content">
	    <a href="absences.html">Signaler une absence</a>
	  </div>
	  
	  <h2>Responsable(s)</h2>
	  <div class="aligned-content">	  
	    <img alt="" src="http://www.chinadaily.com.cn/olympics/images/attachement/jpg/site1/20080831/001111a9f7bb0a2484b725.jpg" style="width: 100px; height: 80px"/> &nbsp;&nbsp;&nbsp;M. AwesomeSportTeacher <a href="mailto:awesome.sportteacher@free.fr"> &nbsp;&nbsp; awesome.sportteacher@free.fr</a>
	  </div>

	  <h2>Tournois / Compétitions</h2>
	  <ul>
	    <li>
	      Tournois inter-univ <a href="event.html" style="margin-left: 50px">details</a>
	    </li>
	    <li>
	      Tournois de fin de saison <a href="event.html" style="margin-left: 10px">details</a>
	    </li>
	  </ul>


	  <h2>Note (automne 2015)</h2>
	  <div class="aligned-content">
	    Note : <span style="margin-left: 80px;">15/20</span> <br />
	    <span style="float: left;">Appréciation:</span> 
	    <div style="margin-left: 120px;">Bon niveau dans l'ensemble. <br />
	      Certains de tes déplacements pourraient être améliorés. <br />
	      Par exemple ton déplacement fond de terrain coté coup droit n'est pas assez rapide. <br />
	      Tu aurais besoin de travailler tes dégagements car ils sont trop hauts.
	    </div>
	  </div>
	</div>
</div>
