<ol class="breadcrumb">
  <li><a href="mes_sports.html">Mes sports</a></li>
  <li><a href="mes_sports.html">Badminton</a></li>
  <li class="active">Détails tournoi</li>
</ol>

<h1 class="page-header">Tournois Inter-Univs (détails)</h1>
<ul>
  <li>
    Date : Mardi 05 Mai, 16h
  </li>
  <li>
    Lieu : Halle Chartreuse (SUAPS) <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.developpez.net/forums/attachments/p166896d1421856637/java/general-java/java-mobiles/android/integrer-personnaliser-carte-type-google-maps/googlemap.gif/&sa=X&ei=qvtZVeW1EsK9swGVhYCgDw&ved=0CAkQ8wc&usg=AFQjCNFh3EGLuNHSWcQEkeywKDgWYVIFTw" alt="" />
  </li>
  <li>
    Niveau : Tout niveau 
  </li>
</ul>

<button id="subscribe-compet" type="button" class="btn btn-primary">S'inscrire</button>

<div id="sub-compet-finish" style="display: none;" class="alert alert-success alert-dismissible" role="alert">
  Vous êtes inscris à l'évènement
</div>

<button style="display: none;" id="unsubscribe-compet" type="button" class="btn btn-warning">Se désinscrire</button>
