
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
	  <h3>Mes sports</h3>
          <ul class="nav nav-sidebar">
            <li><a href="mes_sports.html"><strong>Badminton</strong></a></li>
            <li><a href="">Athlétisme</a></li>
          </ul>
        </div>

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" style="overflow-y: auto;">
	  <ol class="breadcrumb">
	    <li><a href="mes_sports.html">Mes sports</a></li>
	    <li><a href="mes_sports.html">Badminton</a></li>
	    <li class="active">Absences</li>
	  </ol>

          <h1 class="page-header">Absences</h1>
	  <h2>Absences signalées</h2>
	  <ul><li>Jeudi 9 Avril à 18h</li></ul>

	  <h2>Signaler une absence</h2>
	  <p class="aligned-content">
	  	<form action="mes_sports_abs.html">
	    Je serais absent à la séance du 
	    <select>
	      <option value="">Jeudi 30 avril à 18h</option>
	      <option value="">Jeudi 7 Mai à 18h</option>
	    </select>
	    <br />
	    pour le motif :
	    <textarea cols="50" rows="4"></textarea>
	    <br /><br />
	    Lier une pièce jointe : <br />
	    <input type="file"  value="Joindre un fichier" /> <br /><br />
	    <input type="submit" value="Signaler l'absence" />
	    </form>
	  </p>
</div>
