
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
	  <h3>Mes sports</h3>
          <ul class="nav nav-sidebar">
          	<li><a href="annuaire2_2.html">Athlétisme</a></li>
            <li><a href="annuaire2_1.html"><strong>Badminton</strong></a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-md-10 col-md-offset-2 right-content">
	  <div class="row">
            <div class="col-sm-3 col-md-2 sidebar sdbar2">
	      <h3>Horaires</h3>
	      <h2><em>Mardi</em></h2>
             <ul class="nav nav-sidebar">
	       <li><a href="annuaire3_1.html">18h-20h</a></li>
              </ul>
	     <h2><em>Mercredi</em></h2>
             <ul class="nav nav-sidebar">
	       <li><a href="annuaire3_2.html"><strong>18h-20h</strong></a></li>
             </ul>
            </div>
	    
	    <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main">
              <h1 class="page-header">Annuaire des enseignants</h1>
	      <h2>Enseignant</h2>
              <ul>
                <li>Nom:&nbsp; M. AwesomeSportTeacher</li>
                <li>Email: <a href="mailto:awesome.sportteacher@free.fr"> &nbsp;&nbsp; awesome.sportteacher@free.fr</a></li>
              </ul>


	    </div>
	  </div>
	</div>
</div>
