
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
	  <h3>Mes sports</h3>
          <ul class="nav nav-sidebar">
            <li><a href="annuaire2_2.html">Athlétisme</a></li>
            <li><a href="annuaire2_1.html">Badminton</a></li>
          </ul>
        </div>
	
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Annuaire des enseignants</h1>

	  <p>Sélectionnez un sport sur la gauche.</p>
	</div>
</div>
