<div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main">
  <h1 class="page-header">Trouver le sport qui me convient</h1>
<br />

  <div class="row inpt">
    <div class="col-md-2 col-sm-2 col-sm-offset-1 col-md-offset-1">
      <label class="right">Endurance</label>
    </div>
    <div class="col-md-6 col-sm-6">
      <input type="range"  min="0" max="100" value="50"/>
    </div>
    <div class="col-md-2 col-sm-2">
      <label>Agilité</label>
    </div>
  </div>
  <div class="row inpt">
    <div class="col-md-2 col-sm-2 col-sm-offset-1 col-md-offset-1">
      <label class="right">Collectif</label>
    </div>
    <div class="col-md-6 col-sm-6">
      <input type="range"  min="0" max="100" value="50"/>
    </div>
    <div class="col-md-2 col-sm-2">
      <label>Individuel</label>
    </div>
  </div>

  <div class="row inpt">
    <div class="col-md-8 col-sm-10 col-md-offset-4 col-sm-offset-2 btn-group">
      <div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-primary">Intérieur</button>
	<button type="button" class="btn btn-primary">Indifférent</button>
	<button type="button" class="btn btn-primary">Extérieur</button>
      </div>
    </div>
  </div>

  <div class="row inpt">
    <div class="col-md-10 col-sm-12 col-md-offset-3 col-sm-offset-1 btn-group">
      <div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-primary">Form. personelle</button>
	<button type="button" class="btn btn-primary">Indifférent</button>
	<button type="button" class="btn btn-primary">Form. qualifiante</button>
      </div>
    </div>
  </div>


  <div class="row inpt">
    <div class="col-md-8 col-sm-10 col-md-offset-4 col-sm-offset-2 btn-group">
      <div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-primary">Campus</button>
	<button type="button" class="btn btn-primary">Indifférent</button>
	<button type="button" class="btn btn-primary">Centre Ville</button>
      </div>
    </div>
  </div>

  <div class="row inpt">
    <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-2">
      <div class="item"><input type="checkbox" id="l" checked><label for="l" class="normal-label">Lundi</label></div>
      <div class="item"><input type="checkbox" id="ma" checked><label for="ma" class="normal-label">Mardi</label></div>
      <div class="item"><input type="checkbox" id="me" checked><label for="me" class="normal-label">Mercredi</label></div>
      <div class="item"><input type="checkbox" id="j" checked><label for="j" class="normal-label">Jeudi</label></div>
      <div class="item"><input type="checkbox" id="v" checked><label for="v" class="normal-label">Vendredi</label></div>
      <div class="item"><input type="checkbox" id="s" checked><label for="s" class="normal-label">Samedi</label></div>
      <div class="item"><input type="checkbox" id="d" checked><label for="d" class="normal-label">Dimanche</label></div>
    </div>
  </div>
  <div class="row inpt-lg">
    <div class="col-md-2 col-sm-2 col-md-offset-5 col-sm-offset-4">
      <a class="btn btn-primary" href="choix_result.html">Trouver mon sport</a>
    </div>
  </div>
</div>

