<div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main">
	<h1 class="page-header">Trouver le sport qui me convient</h1>
</div>

<div class="row ch-res">
	<div class="col-sm-3 col-md-3 ch-res-frame ch-res-f"> 
		<h2 class="center ch-res-title">Athlethisme</h2>
		<hr>
		<div class="center ch-res-img">
			<img src="http://www.sdp-photography.fr/wp-content/gallery/2014-05-Athle_Forbach/thumbs/thumbs_2014-SdP-Photography--2.jpg" alt=""/>
		</div>
		<ul class="list-unstyled">
			<li>Hall Chartreuse</li>
			<li>FP et FQ</li>
			<li>Mardi, Vendredi, Samedi</li>
		</ul>
		<div class="center ch-res-btn"><a class="btn btn-primary" href="liste_sports3.html">Détails</a></div>
	</div>
	<div class="col-sm-3 col-md-3 col-md-offset-1 col-sm-offset-1 ch-res-frame">
		<h2 class="center ch-res-title">Badminton</h2>
		<hr>
		<div class="center ch-res-img">
			 <img src="http://www.u-pec.fr/_medias/photo/photo_1272381592997.jpg" alt=""/>
		</div>
		<ul class="list-unstyled">
			<li>Hall Ouest, Hall Cartreuse</li>
			<li>FP et FQ</li>
			<li>Mardi, Jeudi, Vendredi, Samedi</li>
		</ul>
		<div class="center ch-res-btn"><a class="btn btn-primary" href="liste_sports2.html">Détails</a></div>
	</div>
	<div class="col-sm-3 col-md-3 col-md-offset-1 col-sm-offset-1 ch-res-frame">
		<h2 class="center ch-res-title">Ski</h2>
		<hr>
		<div class="center ch-res-img">
			<img src="http://www.e-sante.fr/sites/default/files/imagecache/visuel_200/images_articles/ski_genou.jpg" alt=""/>
		</div>
		<ul class="list-unstyled">
			<li>2 alpes, 7 laux</li>
			<li>FP et FQ</li>
			<li>Jeudi, Samedi, Dimanche</li>
		</ul>
		<div class="center ch-res-btn"><a class="btn btn-primary" href="liste_sports3.html">Détails</a></div>
	</div>
</div>
