

<h2>Rappel des informations</h2>
<ul>
  <li>Sport: &nbsp;&nbsp;&nbsp;Badminton</li>
  <li>horaire: Jeudi, 18h-20h</li>
  <li>Lieu: &nbsp;&nbsp;&nbsp; Hall Chartreuse</li>
  <li>Niveau: &nbsp; Débutant</li>
</ul>

<h2>Type de formation</h2>
    <div class="item"><input type="checkbox" checked> Formation personnelle</div>
    <div class="item"><input type="checkbox" checked> Formation qualifiante (notée)</div>
    <div class="item"><input type="checkbox" checked> Autre</div>

<h2>Prix</h2>
<ul>
  <li>0€<li>
</ul>


<ul class="buttons">
  <li><button>Inscription individuelle</button></li>
  <li>OU</li>
  <li><button>Inscription individuelle</button></li>
</ul>

<style>
.buttons li{
    float: left; 
    margin-right: 20px;
}
</stlye>

