
<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <h3>Liste des sports</h3>
    <hr />
    <h4>Rechercher un sport:</h4>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">&nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div><!-- /input-group -->

    <hr />
    <h4>Critères:</h4>

    <div class="criterias-menu">
      <ul>
	<li>
	  <div class="onoffswitch">
	    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
	    <label class="onoffswitch-label" for="myonoffswitch">
	      <span class="onoffswitch-inner"></span>
	      <span class="onoffswitch-switch"></span>
	    </label>
	  </div><br /><br />
	</li>

	<li>
	  <div class="onoffswitch2">
	    <input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="myonoffswitch2" checked>
	    <label class="onoffswitch2-label" for="myonoffswitch2">
	      <span class="onoffswitch2-inner"></span>
	      <span class="onoffswitch2-switch"></span>
	    </label>
	  </div> 
	</li>
      </ul>
      <br /><br />

      <ul>
	<li><input type="radio" checked>&nbsp; Sur le campus</li>
	<li><input type="radio">&nbsp; En ville</li>
	<li><input type="radio">&nbsp; Autre</li>
      </ul>
      <span id="dropup-btn" class="glyphicon glyphicon-menu-up" style="margin-left: 48%;" aria-hidden="true"></span>
    </div> <!-- END criterias-menu -->

    <span id="dropdown-btn" class="glyphicon glyphicon-menu-down" style="margin-left: 48%; display: none;" aria-hidden="true"></span>

    <hr />
    <ul class="nav nav-sidebar">
      <li><a href="liste_sports3.html">Athlétisme</a></li>
      <li><a href="liste_sports2.html"><strong>Badminton</strong></a></li>
    </ul>

  </div>


  <div class="col-sm-9 col-md-10 col-md-offset-2 right-content">
    <h1 class="page-header">Badminton</h1>

    <div class="row">
      <div class="col-sm-12 col-md-9">
	<h2>Description</h2>
	<div class="thumbnail">
	  <img src="http://icons.iconarchive.com/icons/sportsbettingspot/summer-olympics/128/badminton-icon.png" alt="" style="float: left;"/>
	  Description: Le badminton est un sport de raquette qui oppose soit deux joueurs (simples), soit deux paires (doubles), placés dans dex demi-terrains séparés par un filet.
	  <div style="clear: both;"></div>
	</div>
      </div>
      <div class="col-sm-12 col-md-3">
	<h2>Localisation</h2>      
	<div class="thumbnail">
	  <img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.developpez.net/forums/attachments/p166896d1421856637/java/general-java/java-mobiles/android/integrer-personnaliser-carte-type-google-maps/googlemap.gif/&sa=X&ei=qvtZVeW1EsK9swGVhYCgDw&ved=0CAkQ8wc&usg=AFQjCNFh3EGLuNHSWcQEkeywKDgWYVIFTw" alt="" />
	</div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-9">
	<h2>Horaires</h2>
	<div class="datepicker">
	  <table class="table table-bordered">
	    <tr>
	      <th>H</th>
	      <th>Lun</th>
	      <th>Mar</th>
	      <th>Merc</th>
	      <th>Jeu</th>
	      <th>Ven</th>
	      <th>Sam</th>
	      <th>Dim</th>
	    </tr>
	    <tr>
	      <td>8h</td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	    </tr>
	    <tr>
	      <td>10h</td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	    </tr>
	    <tr>
	      <td>12h</td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	    </tr>
	    <tr>
	      <td>14h</td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	    </tr>
	    <tr>
	      <td>16h</td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	    </tr>
	    <tr>
	      <td>18h</td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td class="horaire"></td>
	      <td></td>
	      <td></td>
	      <td></td>
	    </tr>
	    <tr>
	      <td>20h</td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	    </tr>
	    <tr>
	      <td>22h</td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	    </tr>
	  </table>
	</div>
      </div>

      <div class="col-sm-12 col-md-3">
	<h2>&nbsp;</h2> <!-- fake alignment ... Disgusting I know ... -->
	<div class="thumbnail">
	  <h3>Info sur l'horaire</h3>
	  <div>
	    <p class="nfo-empty">Aucun horaire sélectionné ...</p>
	    <div class="nfo-horaire" style="display: none;">
	      <ul>
		<li><strong>Lieu:</strong> Hall chartreuse</li>
		<li><strong>Places dispo:</strong> 15</li>
		<li><strong>Niveau:</strong> Débutant</li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <div>
      <h2 id="subscribe-title">S'inscrire</h2>
      <p>
	<span class="subscription-empty">Pour vous inscrire, sélectionnez un créneau horaire sur le calendrier ci-dessus.</span>
        <button class="subscription-btn btn btn-primary" style="display: none;" data-toggle="modal" data-target="#myModal">
	  S'inscrire à l'horaire sélectionné
	</button>
	
	<div id="sub-finish" style="display: none;" class="alert alert-success alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Bravo !</strong> Vous êtes désormais inscris en Badminton.	
	</div>

	<div id="sub-group-added" style="display: none;" class="alert alert-success alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Bravo !</strong> Le groupe a été proposé avec succés.	
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">Inscription</h4>
	      </div>
	      <div class="modal-body">
		<h2>Rappel des informations</h2>
		<ul>
		  <li>Sport: &nbsp;&nbsp;&nbsp;Badminton</li>
		  <li>horaire: Jeudi, 18h-20h</li>
		  <li>Lieu: &nbsp;&nbsp;&nbsp;&nbsp; Hall Chartreuse</li>
		  <li>Niveau: &nbsp;Débutant</li>
		</ul>

		<h2>Type de formation</h2>
		<ul>
		  <li><input type="checkbox" > Formation qualifiante (notée)</li>
		  <li><input type="checkbox" > Formation personnelle</li>
		  <li><input type="checkbox" > Autre</li>
		</ul>
		<h2>Prix</h2>
		<ul>
		  <li>0€<li>
		</ul>

		<style>
		  .buttons li{
		  float: left; 
		  margin-right: 20px;
		  }
		</style>

	      </div>
	      <div class="modal-body-grp" style="display: none;">
		<h2>Rappel des informations</h2>
		<ul>
		  <li>Sport: &nbsp;&nbsp;&nbsp;Badminton</li>
		  <li>horaire: Jeudi, 18h-20h</li>
		  <li>Lieu: &nbsp;&nbsp;&nbsp;&nbsp; Hall Chartreuse</li>
		  <li>Niveau: &nbsp;Débutant</li>
		</ul>

		<h2>Ajouter un membre au groupe</h2>
		<ul>
		  <li><input id="member" type="text" /> <button id="add-mbr-btn" class="glyphicon glyphicon-plus"></button></li>
		</ul>

		<h2>Groupe</h2>
		<ul id="grp">
		  <li>moi</li>
		</ul>

	      </div>
	      <div class="modal-footer" style="padding-right: 20%;">
		<button type="button" id="individual-sub-btn" class="btn btn-primary" data-dismiss="modal">Inscription individuelle</button>
		<span>OU</span>
		<button type="button" id="group-sub-btn" class="btn btn-primary">Inscription en groupe</button>
		
		<div class="modal-footer-grp" style="padding-right: 30%; display: none;">
		  <button type="button" id="group-proposed-btn" class="btn btn-large btn-default" data-dismiss="modal">Proposer le groupe</button>
		</div>
	      
	      </div>
	    </div>
	  </div>
	</div>

      </p>
      <br />
    </div>

  </div>
</div>
