
<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <h3>Liste des sports</h3>
    <hr />
    <h4>Rechercher un sport:</h4>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">&nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div><!-- /input-group -->

    <hr />
    <h4>Critères:</h4>

    <div class="criterias-menu">
      <ul>
	<li>
	  <div class="onoffswitch">
	    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
	    <label class="onoffswitch-label" for="myonoffswitch">
	      <span class="onoffswitch-inner"></span>
	      <span class="onoffswitch-switch"></span>
	    </label>
	  </div><br /><br />
	</li>

	<li>
	  <div class="onoffswitch2">
	    <input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="myonoffswitch2" checked>
	    <label class="onoffswitch2-label" for="myonoffswitch2">
	      <span class="onoffswitch2-inner"></span>
	      <span class="onoffswitch2-switch"></span>
	    </label>
	  </div> 
	</li>
      </ul>
      <br /><br />

      <ul>
	<li><input type="radio" checked>&nbsp; Sur le campus</li>
	<li><input type="radio">&nbsp; En ville</li>
	<li><input type="radio">&nbsp; Autre</li>
      </ul>
      <span id="dropdown-btn" class="glyphicon glyphicon-menu-up" style="margin-left: 48%;" aria-hidden="true"></span>
    </div> <!-- END criterias-menu -->

    <span id="dropup-btn" class="glyphicon glyphicon-menu-down" style="margin-left: 48%; display: none;" aria-hidden="true"></span>

    <hr />
    <ul class="nav nav-sidebar">
      <li><a href="liste_sports3.html">Athlétisme</a></li>
      <li><a href="liste_sports2.html">Badminton</a></li>
    </ul>

  </div>
</div>
