body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}
.center h1 {
	margin-bottom: 10px;
}

.blue {
	color: blue;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	font-weight: normal;
	color: gray;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

ul {
        list-style-type: none;
}

.right {
	text-align: right;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	text-decoration: none;
}

#logo:hover, #logo:active {
	color: white;
	text-decoration: none;
}

/* form */

label {
	display: inline-block;
	float: left;
	clear: left;
	width: 120px;
}

input {
	display: inline-block;
	float: left;
	margin-bottom: 10px;
	padding-left: 2px;
}

/* front page */

.log_in {
	border: 1px solid black;
	border-radius: 3px;
	margin-top: 50px;
	margin-bottom: 18px;
}

.log_in hr {
	margin-top: 0px;
	*/
	margin-bottom: 20px;
	border: 2;
	border-top: 1px solid black;
}

.log_in .submit {
  margin-left: 75px;
  margin-top: 15px;
  margin-bottom: 10px;
}

/*
  Mes sports
*/

.sidebar{
  position: absolute;
  top: 50px;
  bottom: 0px;
  background-color: #F7F7F7;
  border-right: 1px solid #C9C9C9;
}

.aligned-content{
    margin-left: 40px;
}

.sdbar2{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 16.66666667%;
}

.right-content{
    position: absolute;
    top: 50px;
    bottom: 0px;
}

/* choix sport */

.item {
	float: left;
	width: 80px;
}

.inpt {
	margin-top: 10px;
}

.inpt-lg {
	margin-top: 30px;
}



/*
  Liste des sports
*/

.glyphicon-menu-up, .glyphicon-menu-down{
    cursor: pointer;
}

.horaire{
    background-color: #A3CCE0;
}

.horaire:hover{
    background-color: #7CBEDD; /* #42ACDD */
    cursor: pointer;
} 

/* ON/OFF Switch :*/
.onoffswitch {
    position: relative; width: 140px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
    width: 140px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Intérieur";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Extérieur";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; height: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 106px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


/* Deuxième switch : */
.onoffswitch2 {
    position: relative; width: 140px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch2-checkbox {
    display: none;
}
.onoffswitch2-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
    width: 140px;
}
.onoffswitch2-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch2-inner:before, .onoffswitch2-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch2-inner:before {
    content: "F. Qualifiante";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch2-inner:after {
    content: "F. Perso";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch2-switch {
    display: block; width: 18px; height: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 106px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner {
    margin-left: 0;
}
.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-switch {
    right: 0px;
}

#dropdown_button{
}


/* Choix result */

.ch-res-frame {
	padding: 20px;
	border: 1px solid black;
	border-radius: 6px;
}

.ch-res-f {
	margin-left: 4%;
}

.ch-res-img {
	margin-bottom: 100px;
	margin-top: 100px;
}

.ch-res-btn {
	margin-top: 20px;
}

.ch-res-title {
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 2em;
	letter-spacing: 0.07em;
}

.ch-res hr {
	margin-top: 0;
}

/* Popup inscription en groupe */
#grp li{
    width: 200px;
}

/* Choix  */

.normal-label {
	font-weight: normal;
	clear: none;
	float: none;
	width: auto;
	display: inherit;	
}
